.header-fixed {
    top: 0;
}

.section {
    min-height: calc(100vh - 400px);
    margin-top: 100px;
}

.text {
    margin-top: 150px;
    text-align: center;
    font-size: 14pt;
}

.btn-tour-group, .btn-tour-package {
    width: 300px;
    margin: 0 auto;
}

.btn-tour-group {
    margin-top: 80px;
    margin-bottom: 20px;
}