.header-fixed {
    top: 0;
}

.section {
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: -101px;
}

.section-title {
    text-align: center;
    color: #002157;
}

.tour-detail {
    overflow-y: visible;
}

.tour-detail-image {
    background-size: 100%;
    background-repeat: no-repeat;
}

.tour-detail-image {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    -ms-animation-delay: 0.1s;
    -o-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.tour-detail-title {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -ms-animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.tour-detail-date, .tour-detail-location, .tour-detail-price {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    -ms-animation-delay: 0.3s;
    -o-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.hightlight-description {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    -ms-animation-delay: 0.4s;
    -o-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.bonus-description {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -ms-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.cicilan {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    -ms-animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.contact-person {
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    -ms-animation-delay: 0.7s;
    -o-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.btn-register-head {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    -ms-animation-delay: 0.8s;
    -o-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.tour-detail-text {
    float: left;
}

.tour-detail-location {
    color: #555;
}

.hightlight-description, .bonus-description {
    color: #2a4c83;
}

.cicilan {
    font-size: 10pt;
    margin-bottom: 30px;
}

.cicilan-title {
    color: #002157;
}

.contact-person {
    font-size: 10pt;
}

.contact-person a {
    color: black;
}

.btn-register-head {
    margin-top: 30px;
    text-decoration: none;
    display: block;
    clear: both;
}

.itinerary-container-title {
    color: #002157;
    font-weight: bold;
}

.itinerary {
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

.itinerary-time-place {
    font-size: 10pt;
    font-weight: bold;
    margin-bottom: 5px;
}

.itinerary-description {
    font-size: 10pt;
}

.itinerary-image-container-block .image-container {
    display: inline-block;
    -webkit-transition: all 5s;
    transition: all 5s;
}

.itinerary-image-container-inline {
    width: 100vw;
    margin: 0 auto;
    position: relative;
}

.itinerary-image-container-inline .image-container {
    display: block;
}

.itinerary-image-container-inline .itinerary-image {
    width: 100%;
}

.tour-information {
    margin-top: 100px;
    color: #002157;
}

.tour-information-subtitle {
    margin-bottom: 10px;
    font-size: 11pt;
}

.tour-information-detail-container {
    margin: 0 auto 30px;
    overflow-y: auto;
    font-size: 10pt;
    line-height: 25px;
}

.tour-information-detail-item {
    overflow: auto;
}

.detail-number, .detail-description {
    display: block;
    float: left;
}

.tour-information-detail-item pre {
    display: inline-block;
}

.join-container {
    width: 100vw;
    margin: 100px auto 0;
    background-color: #002157;
    color: white;
    padding: 60px 0 100px;
    text-align: center;
}

.btn-register {
    border: 1px solid white;
    cursor: pointer;
    text-decoration: none;
}

.btn-register .button-left, .btn-register .button-right {
    background-color: white;
}

.btn-register .button-text {
    color: white;
}

@media all and (max-width: 767px) {
    .section {
        margin-top: 60px;
        padding-top: 30px;
    }

    .section-title {
        font-size: 20pt;
        margin-bottom: 50px;
    }

    .tour-detail {
        width: 100vw;
        padding: 0 5vw;
        margin: 0 auto 100px;
        overflow: auto;
    }

    .tour-detail-image {
        width: 90vw;
        height: 90vw;
        margin-bottom: 30px;
    }

    .tour-detail-main {
        margin-bottom: 20px;
    }
    
    .tour-detail-title {
        font-size: 16pt;
        margin-bottom: 10px;
    }
    
    .tour-detail-location, .tour-detail-price, .tour-detail-date {
        font-size: 10pt;
        margin-bottom: 3px;
    }

    .tour-detail-price {
        margin-bottom: 30px;
    }

    .tour-detail-col {
        margin-bottom: 30px;
    }
    
    .hightlight-description, .bonus-description {
        font-size: 10pt;
        line-height: 25px;
    }

    .itinerary-container-title {
        padding: 0 5vw;
        font-size: 20pt;
        margin-bottom: 50px;
    }

    .itinerary {
        margin-bottom: 30px;
    }

    .itinerary-text {
        width: 100vw;
        padding: 0 5vw;
        margin: 0 auto 20px;
        line-height: 25px;
    }

    .itinerary-image-container-block .itinerary-image {
        width: 100vw;
        margin-bottom: 30px;
    }

    .itinerary-image-container-inline .image-container {
        width: 100vw;
    }

    .tour-information-title {
        font-size: 18pt;
        width: 100vw;
        padding: 0 5vw;
        margin: 0 auto 15px;
    }

    .tour-information-detail-container {
        width: 100vw;
        padding: 0 5vw;
    }

    .detail-number {
        width: 30px;
    }

    .detail-description {
        width: calc(90vw - 30px);
    }

    .join-text {
        width: 100vw;
        padding: 0 5vw;
        text-align: left;
        font-size: 18pt;
        margin-bottom: 30px;
    }

    .btn-register {
        width: 90vw;
        margin: 0 auto;
        padding: 10px 0 11px;
    }

    .btn-register:active .button-text {
        color: #002157;
    }
}

@media all and (max-width: 320px) {
    .section-title {
        font-size: 18pt;
    }
}

@media all and (min-width: 768px) {
    .section {
        margin-top: 80px;
        min-height: calc(100vh - 300px);
        padding-top: 50px;
    }

    .section-title {
        font-size: 18pt;
        margin-bottom: 30px;
    }

    .tour-detail-main {
        margin-bottom: 20px;
    }
    
    .tour-detail-title {
        font-size: 16pt;
        margin-bottom: 15px;
    }
    
    .tour-detail-location, .tour-detail-price, .tour-detail-date {
        font-size: 11pt;
        margin-bottom: 3px;
    }
    
    .hightlight-description, .bonus-description {
        font-size: 11pt;
        line-height: 20px;
    }

    .hightlight-description {
        width: 270px;
        margin-right: 20px;
        padding-right: 20px;
    }
    
    .bonus-description {
        width: 280px;
    }

    .itinerary-container-title {
        font-size: 20pt;
        margin: 0 auto 50px;
    }

    .itinerary {
        margin-bottom: 50px;
    }

    .itinerary-text {
        width: 100vw;
        margin: 0 auto 20px;
        line-height: 20px;
    }

    .image-container-outer {
        overflow: hidden;
    }

    .itinerary-image-container-block[data-side="right"] {
        float: right;
    }

    .itinerary-image-container-inline .image-container {
        float: left;
        width: 32%;
        margin-right: 2%;
    }

    .itinerary-image-container-inline .image-container:nth-last-child(1) {
        margin-right: 0;
    }

    .tour-information-title {
        font-size: 18pt;
        margin: 0 auto 15px;
    }

    .detail-number {
        width: 30px;
    }

    .join-text {
        display: inline-block;
        font-size: 18pt;
        margin-right: 40px;
    }

    .btn-register {
        display: inline-block;
        padding: 10px 50px;
    }

    .btn-register:hover .button-text {
        color: #002157;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .tour-detail {
        width: 100vw;
        padding: 0 3vw;
        height: auto;
        margin: 0 auto 100px;
        overflow-y: auto;
    }

    .tour-detail-image {
        float: left;
        width: 45vw;
        height: 45vw;
        margin-right: 20px;
    }

    .tour-detail-text {
        width: calc(49vw - 20px);
    }

    .tour-detail-col {
        margin-bottom: 30px;
    }

    .btn-register-head {
        width: 300px;
    }

    .itinerary-container-title {
        width: 90vw;
    }
    
    .itinerary, .itinerary-image-container-block {
        margin-bottom: 30px;
    }

    .itinerary-text {
        padding: 0 10vw;
    }

    .image-container-outer {
        width: 70vw;
        overflow: hidden;
    }

    .itinerary-image-container-block .itinerary-image {
        width: 70vw;
    }

    .itinerary-image-container-inline {
        padding: 0 10vw;
    }

    .tour-information-title {
        width: 90vw;
    }

    .tour-information-detail-container {
        width: 80vw;
    }

    .detail-description {
        width: calc(80vw - 30px);
    }
}

@media all and (min-width: 1025px) {
    .tour-detail {
        width: 950px;
        height: 350px;
        margin: 0 auto 100px;
    }

    .tour-detail-image {
        float: left;
        width: 350px;
        height: 350px;
        margin-right: 30px;
    }

    .tour-detail-text {
        width: 570px;
    }

    .tour-detail-col {
        float: left;
        margin-bottom: 30px;
    }

    .btn-register-head {
        width: 180px;
    }

    .itinerary-container-title {
        width: 75vw;
    }

    .itinerary {
        margin-bottom: 50px;
    }

    .itinerary-text {
        padding: 0 15vw;
    }

    .image-container-outer {
        width: 55vw;
        overflow: hidden;
    }

    .image-container-outer:hover .image-container {
        -webkit-transform: scale(1.1, 1.1);
        -moz-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
        -o-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }
    
    .itinerary-image-container-block .itinerary-image {
        width: 55vw;
    }

    .itinerary-image-container-inline {
        padding: 0 15vw;
    }

    .tour-information-title {
        width: 75vw;
    }

    .tour-information-detail-container {
        overflow-x: hidden;
        width: 70vw;
    }

    .detail-description {
        width: calc(70vw - 30px);
    }
}