.header-fixed {
    top: 0;
}

.section {
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: -100px;
}

.dark-subheader-detail {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    -ms-animation-delay: 0.1s;
    -o-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.tour-detail-main {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -ms-animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.hightlight-description {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    -ms-animation-delay: 0.3s;
    -o-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.bonus-description {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    -ms-animation-delay: 0.4s;
    -o-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.contact-person {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -ms-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.btn-register-tour {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    -ms-animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.tour-detail {
    background-color: #ececec;
}

.tour-detail-location {
    color: #555;
}

.hightlight-description, .bonus-description {
    color: #2a4c83;
}

.cicilan, .contact-person {
    text-align: left;
    font-size: 10pt;
}

.cicilan {
    margin-top: 30px;
    margin-bottom: 30px;
}

.cicilan-title {
    color: #002157;
}

.contact-person a {
    color: black;
}

.tour-detail-dates {
    font-size: 10pt;
    text-align: left;
}

.tour-detail-dates-title {
    font-size: 11pt;
    margin-bottom: 5px;
    color: #555;
}

.itinerary {
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

.itinerary-time-place {
    font-size: 10pt;
    font-weight: bold;
    margin-bottom: 5px;
}

.itinerary-description {
    font-size: 10pt;
}

.itinerary-image-container-block .image-container {
    display: inline-block;
    -webkit-transition: all 5s;
    transition: all 5s;
}

.itinerary-image-container-inline {
    width: 100vw;
    margin: 0 auto;
    position: relative;
}

.itinerary-image-container-inline .image-container {
    display: block;
}

.itinerary-image-container-inline .itinerary-image {
    width: 100%;
}

.join-container {
    width: 100vw;
    margin: 100px auto 0;
    background-color: #002157;
    color: white;
    padding: 60px 0 100px;
    text-align: center;
}

.btn-register {
    border: 1px solid white;
    cursor: pointer;
    text-decoration: none;
}

.btn-register .button-left, .btn-register .button-right {
    background-color: white;
}

.btn-register .button-text {
    color: white;
}

@media all and (max-width: 767px) {
    .section {
        margin-top: 60px;
        padding-top: 30px;
    }

    .tour-detail {
        padding: 40px 5vw;
        margin-bottom: 60px;
    }

    .tour-detail-col {
        margin-bottom: 30px;
    }

    .tour-detail-title {
        font-size: 16pt;
        margin-bottom: 5px;
    }

    .tour-detail-price, .tour-detail-location {
        font-size: 10pt;
    }

    .tour-detail-location {
        margin-bottom: 3px;
    }

    .hightlight-description, .bonus-description {
        font-size: 10pt;
        line-height: 25px;
    }

    .tour-detail-dates {
        padding: 0 5vw;
        margin-bottom: 60px;
    }

    .tour-detail-date {
        line-height: 25px;
    }

    .btn-register-tour {
        margin-top: 20px;
    }

    .itinerary {
        margin-bottom: 30px;
    }

    .itinerary-text {
        width: 100vw;
        padding: 0 5vw;
        margin: 0 auto 20px;
        line-height: 25px;
    }

    .itinerary-image-container-block .itinerary-image {
        width: 100vw;
        margin-bottom: 30px;
    }

    .itinerary-image-container-inline .image-container {
        width: 100vw;
    }

    .join-text {
        width: 100vw;
        padding: 0 5vw;
        text-align: left;
        font-size: 18pt;
        margin-bottom: 30px;
    }

    .btn-register {
        width: 90vw;
        margin: 0 auto;
        padding: 10px 0 11px;
    }

    .btn-register:active .button-text {
        color: #002157;
    }
}

@media all and (min-width: 768px) {
    .section {
        margin-top: 80px;
        min-height: calc(100vh - 300px);
        padding-top: 50px;
    }

    .tour-detail {
        text-align: center;
        padding: 40px 0;
    }

    .tour-detail-inner-container {
        display: inline-block;
    }

    .tour-detail-col {
        text-align: left;
        display: inline-block;
        vertical-align: top;
    }
    
    .tour-detail-col:nth-last-child(1) {
        margin-right: 0;
    }
    
    .tour-detail-title {
        margin-bottom: 5px;
    }

    .tour-detail-location {
        margin-bottom: 5px;
    }

    .hightlight-description, .bonus-description {
        line-height: 20px;
    }

    .contact-person-1 {
        margin-top: 20px;
    }

    .btn-register-tour {
        width: 180px;
        margin-top: 20px;
    }

    .itinerary-text {
        width: 100vw;
        margin: 0 auto 20px;
        line-height: 20px;
    }

    .itinerary-image-container-block[data-side="right"] {
        float: right;
    }

    .join-text {
        display: inline-block;
        font-size: 18pt;
        margin-right: 40px;
    }

    .btn-register {
        display: inline-block;
        padding: 10px 50px;
    }

    .btn-register:hover .button-text {
        color: #002157;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .tour-detail {
        margin-bottom: 40px;
    }

    .tour-detail-col {
        margin-right: 25px;
    }

    .tour-detail-title {
        font-size: 13pt;
    }

    .tour-detail-price, .tour-detail-location {
        font-size: 9pt;
    }

    .hightlight-description, .bonus-description {
        font-size: 8pt;
    }

    .tour-detail-dates {
        font-size: 9pt;
        padding: 0 10vw;
        margin-bottom: 40px;
    }

    .tour-detail-date {
        display: inline-block;
        width: 40vw;
        margin-bottom: 5px;
    }

    .itinerary, .itinerary-image-container-block {
        margin-bottom: 30px;
    }

    .itinerary-text {
        padding: 0 10vw;
    }

    .image-container-outer {
        width: 70vw;
        overflow: hidden;
    }

    .itinerary-image-container-block .itinerary-image {
        width: 70vw;
    }

    .itinerary-image-container-inline {
        padding: 0 10vw;
    }

    .itinerary-image-container-inline .image-container {
        float: left;
        width: 32%;
        margin-right: 1.5%;
    }
}

@media all and (min-width: 1025px) {
    .tour-detail {
        margin-bottom: 50px;
    }

    .tour-detail-col {
        margin-right: 50px;
    }

    .tour-detail-main {
        width: 400px;
    }

    .tour-detail-title {
        font-size: 16pt;
    }

    .tour-detail-price, .tour-detail-location {
        font-size: 10pt;
    }

    .hightlight-description, .bonus-description {
        font-size: 10pt;
    }

    .tour-detail-dates {
        padding: 0 15vw;
        margin-bottom: 50px;
    }

    .tour-detail-date {
        display: inline-block;
        margin-bottom: 5px;
    }

    .itinerary {
        margin-bottom: 50px;
    }

    .itinerary-text {
        padding: 0 15vw;
    }

    .image-container-outer {
        width: 55vw;
        overflow: hidden;
    }

    .image-container-outer:hover .image-container {
        -webkit-transform: scale(1.1, 1.1);
        -moz-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
        -o-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }
    
    .itinerary-image-container-block .itinerary-image {
        width: 55vw;
    }

    .itinerary-image-container-inline {
        padding: 0 15vw;
    }

    .itinerary-image-container-inline .image-container {
        float: left;
        width: 32%;
        margin-right: 1.5%;
    }
}

@media all and (min-width: 1025px) and (max-width: 1280px) {
    .tour-detail-date {
        width: 32vw;
    }
}

@media all and (min-width: 1281px) {
    .tour-detail-date {
        width: 23vw;
    }

    .tour-detail-date:nth-child(3n + 1) {
        width: 300px;
    }
}